.vscode/**
src/**
!src/language/snippets.json
test/**
scripts/**
node_modules/**
docs/**
*.md
!README.md
!media/tutorial/**/*.md
tsconfig.json
vitest.config.ts
esbuild.config.mjs
eslint.config.mjs
.gitignore
.cursor/**
**/*.test.ts
**/*.test.js
**/*.map
